[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=showdevant
Exec=/usr/bin/single-instance /opt/showdevant/bin/showdevant
Icon=/usr/share/icons/hicolor/80x80/apps/showdevant80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
